<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>Title: {{one_books['title']}}</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col"># of pages</th>
   
      </tr>
    </thead>
    <tbody>
        {% for dojo in %}
      <tr>
        <th scope="row"></th>
       
      </tr>
      {%endfor%}
      
    </tbody>
  </table>
</body>
</html>