<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Document</title>
</head>
<style>
    .flex{
        display: block;
        margin: 20px;
    }
    .row
    {
        background-color: linear-gradient(rgb(209, 87, 87), rgb(24, 24, 23));
        width: auto;
    }
    .disp
    {
      display: flex;
    
    }

</style>
<body>
  <div class="disp">
    <div class="row g-3 needs-validation flex">
      <div id="liveAlertPlaceholder" class="bg-dark text-danger">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    <form  action="/create" method="post" >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control"  name="first_name" required>
         
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" name="last_name" required>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input type="email" class="form-control" name="email" aria-describedby="inputGroupPrepend" required>
            
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" required>
          
        </div>
        <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" required>
            
          </div>
        
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Create User</button>
        </div>
      </form>
</div>
<div class="box2">
  {% with messages = get_flashed_messages(category_filter=['login']) %}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Flash AHHHHHHH!!!!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
  <form action="/login" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" name="email" class="form-control">
  </div>
  <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control">
  </div>
  
  <input type="submit" value="Login" class="btn btn-success"></form></div>
  </div>
</form>
</div>
</div>
</body>
</html>