<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>counter</h1>
   <form action="" method="post"> <h3>{{session['count']}} time(s)</h3>
    <div class="col-3 flex justify-around mx-auto">
        <a href="/plus2" class="btn btn-primary">Click</a>
        <a href="/reset" class="btn btn-danger">Reset</a>

    </div></form>
</body>
</html>