<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='style.css') }}">
    <title>holle flask</title>
</head>
<body>
    <h1 >welcome!</h1>
    {% for x in range(0,times): %}
 
    <div class="boxs"  style="background-color: {{color}};">
      
 </div>
{% endfor %}


<style>
      :root  {
      --body-color: {{color}};
    } -->
  <!-- </style> -->
  <!-- 
</body>
</html>