<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>accuiel</title>
</head>
<body>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
         submitted info
        </a>
        <a class="list-group-item list-group-item-action">{{one_dojo.name}}</a>
        <a class="list-group-item list-group-item-action">Dojo Location: {{one_dojo.location}}</a>
        <a class="list-group-item list-group-item-action">Favorite language{{one_dojo.language}}</a>
        <a class="list-group-item list-group-item-action disabled">Comment:{{one_dojo.comment}}</a>
      </div>
      <a href="/" class="btn btn-warning btn-outline-dark" >home</a>
</body>
</html>