<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>

    <title>author</title>
</head>
<style>
    .flex
    {
        display:flex;
    }
    .box1
    {
        background-color: rgb(71, 69, 69);
    }
    .card_header h2 
    {
        color: rgb(255, 196, 0);
    }
    .space
    {
        justify-content: space-around;
    }
   
</style>
<body>
    <div class="flex space">
        <div class="box1">
        
        <div class="card_header">
            <h2>New dojo</h2>
        </div>
        <div class="card_body">
        <form action="/create" method="post">
            <label>name:</label>
            <input name="naame" type="text">
         <input type="submit" value="create" class="btn btn-primary">
        </form>
        </div>
        </div>
        <div class="box2">
            <div class="card2_header">
            <h1>all dojo</h1>
            </div>
            <div class="card2_body">
                {% for dojo in list_dojos %}
            <p class="card-text"><a href="/show/{{dojo.id}}">{{dojo.naame}}</a></p>
                {% endfor %}
            </div>
            <a class="btn btn-primary" href="/add">add ninja</a>
            </div>
        
    </div>
</body>
</html>