<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>random_numbers</title>
</head>
<body>

<table  class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">
            First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Full Name</th>
      </tr>
    </thead>
    <tbody>
     {% for user in users %}
    
        <tr>
            {% for num in random_numbers %}<th scope="row">{{num}}</th>{% endfor %}
        <td class="table-secondary">{{ user['first_name']}}</td>
        <td>{{ user['last_name']}}</td>
        <td colspan="2">{{ user['last_name']}} {{user['first_name']}}</td>
      </tr>
    
   {% endfor %}
    </tbody>
  </table>
</html>