<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x' crossorigin='anonymous'>
    <title>Dashboard</title>
</head>
<body>
    <h1 class="text text-center"> friends list </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>first Name</th>
                <th>last name</th>
                <th>data</th>
                <th>action</th>
           
            </tr>
        </thead>
        <tbody>
            {% for user in list_users %}
                <tr>
                    <td>{{ user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td>{{user.created_at}}</td>
                    <td><a class="btn btn-warning" href="">View</a></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a  class="btn btn-primary" href="/new">Add New friend</a>
   
</body>
</html>